/* Usa as mesmas variáveis do login — nada muda aqui */
@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

:root {
    --color-light-50: #fed9d9;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-500: #000;

    --color-red-50: #a70803;
    --color-red-100: #c8332e;
    --color-red-200: #de524d;

    --color-gradient: linear-gradient(90deg, var(--color-red-50), var(--color-red-100), var(--color-red-200));
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    gap: 5px;
}

.logos img {
    width: 170px;
    height: auto;
    object-fit: contain;
}

#success_form {
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
    animation: dark-to-light 0.3s ease-in-out;
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 32px;
    position: relative;
}

#form_header h1:before {
    position: absolute;
    content: "";
    width: 40%;
    background-color: var(--color-red-50);
    height: 5px;
    bottom: 3px;
    border-radius: 5px;
}

#wifi_icon {
    font-size: 40px;
}

#mode_icon {
    cursor: pointer;
    font-size: 20px;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.desc {
    font-size: 16px;
    color: var(--color-dark-50);
}

.yt_link {
    text-decoration: none;
    color: var(--color-red-50);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.yt_link:hover {
    color: var(--color-red-100);
}

#login_button {
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#login_button:hover {
    transform: scale(1.05);
}

.dark#success_form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}

.dark#success_form .desc,
.dark#success_form .yt_link {
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0% { background-color: var(--color-dark-100); }
    100% { background-color: var(--color-light-50); }
}

@keyframes light-to-dark {
    0% { background-color: var(--color-light-50); }
    100% { background-color: var(--color-dark-100); }
}
