@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

:root {
    --color-light-50: #fed9d9;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-500: #000;

    --color-red-50: #a70803;
    --color-red-100: #c8332e;
    --color-red-200: #de524d;

    --color-gradient: linear-gradient(90deg, var(--color-red-50), var(--color-red-100), var(--color-red-200));
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: auto;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    gap: 5px;
}

.logos img {
    width: 170px;
    height: auto;
    object-fit: contain;
}

#login_form {
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
    animation: dark-to-light 0.3s ease-in-out;
}

#form_header { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1:before {
    position: absolute;
    content: "";
    width: 40%;
    background-color: var(--color-red-50);
    height: 5px;
    bottom: 5px;
    border-radius: 5px;
}

#mode_icon{
    cursor: pointer;
    font-size: 20px;
}

#social_media { 
    display: flex; 
    justify-content: space-around; 
}

#social_media img {
    width: 35px;
}

#social_media img:hover {
    transform: scale(1.2);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-red-50);
}

.input-field i {
    font-size: 10px;
    color: var(--color-dark-500);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 250px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}

.input-field select {
    border: none;
    background: transparent;
    width: 250px;
    font-size: 16px;
    padding: 5px;
    color: var(--color-dark-500);
    cursor: pointer;
}

.input-field select:focus {
    outline: none;
}

.dark#login_form .input-field select {
    color: var(--color-light-50);
}

#forgot_password a {
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50);
}

#forgot_password a:hover {
    color: var(--color-red-50);
}

.checkbox-lgpd {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
    margin: 10px 0;
    color: #333;
    gap: 8px;
    max-width: 350px;
    text-align: center; 
    word-wrap: break-word;
    color: var(--color-dark-50);
}

.checkbox-lgpd input {
    margin-top: 3px;
    cursor: pointer;
}

.checkbox-lgpd span {
    line-height: 1.3;
}

#login_button {
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login_button:hover {
    transform: scale(1.05);
}

.dark#login_form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}

.dark#login_form .input-field input,
.dark#login_form .input-field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0% {
        background-color: var(--color-dark-100);
    }

    100% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark {
    0% {
        background-color: var(--color-light-50);
    }
    
    100% {
        background-color: var(--color-dark-100);
    }
}